<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/jquery-confirm.min.css">
    <link rel="stylesheet" href="../../../css/style2.css">
    <link rel="stylesheet" href="../../../css/style3.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/jquery-confirm.min.js"></script>
    <script src="js/main.js"></script>
    <title>Timovi</title>
</head>
<body>

<div class="container">
    <ul class="nav nav-pills" id="navMeni">
        <li role="presentation"><a href="/index">Početna</a></li>
        <li role="presentation"><a href="/timovi">Timovi</a></li>
        <li role="presentation"><a href="/model/timovi/dodajTim">Dodaj novi tim</a></li>
    </ul>


    <h1>


    </h1>

    <h3>Članovi tima</h3>


    <table style="width: 900px; margin-left:330px;" class="table table-hover">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Godine iskustva</th>
        <th>e-mail</th>
        {{#clanovi}}
            <tr class="success">
                <th>{{ime}}</th>
                <th>{{prezime}}</th>
                <th>{{godiskustva}}</th>
                <th>{{email}}</th>
            </tr>
        {{/clanovi}}
    </table>

    <td><a href="/model/timovi/id/dodajClana" class="btn btn-danger" style="width:150px; float:right">Novo</a></td>

</div>
</body>
</html>
