<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style3.css">
    <link rel="stylesheet" href="css/style2.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <title>Prijava za hakaton</title>
</head>
<body >
<div class="container">
    <ul class="nav nav-pills" id="navMeni">
        <li role="presentation"><a href="/index">Početna</a></li>
        <li role="presentation"><a href="/timovi">Timovi</a></li>
        <li role="presentation"><a href="/model/timovi/dodajTim">Dodaj novi tim</a></li>
    </ul>

    <h1 class="pocetna">Prijava timova za takmičenje na hakatonu</h1>
    <h1 class="pocetna">Tema: Clojure</h1>
    <h1 style="float:right; margin-top: 100px; margin-right:40px"> Marijana Gajić 2017/3722</h1>

</div>
</nav>
</body>
</html>