<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style3.css">
    <link rel="stylesheet" href="css/style2.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <title>Prijava za hakaton</title>
</head>
<body >
<div class="container">
    <ul class="nav nav-pills" id="navMeni">
        <li role="presentation"><a href="/index">Početna</a></li>
        <li role="presentation"><a href="/timovi">Timovi</a></li>
        <li role="presentation"><a href="/model/timovi/dodajTim">Dodaj novi tim</a></li>
    </ul>
</div>
    <div id="forma" style="width:30%;margin-left: 150px;">
        <h3 style="margin-bottom:20px;color:#0f0f76;">Prijavi se</h3>


            <div class="form-group">
                <label for="horsepower">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username"/>
            </div>
            <div class="form-group">
                <label for="model">Password</label>
                <input type="text" class="form-control" name="password" placeholder="Password"/>
            </div>
            <td><a href="/model//login" class="btn btn-danger" style="width:150px; float:right">Prijavi se</a></td>



</div>
</body>
</html>